- title "Buildings"

%table
  %tr
    %th Address
    %th Company
  - for building in @buildings
    %tr
      %td= building.address
      %td= building.company.name if building.company
      %td= link_to 'Show', building
      %td= link_to 'Edit', edit_building_path(building)
      %td= link_to 'Destroy', building, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Building", new_building_path

= image_tag @map_url