- title "Building"

%p
  %strong Address:
  = @building.address
%p
  %strong Company:
  = @building.company.name if @building.company
%p
  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=label:A%7C#{@building.latitude}%2C#{@building.longitude}"

%p
= "Lat: #{@building.latitude} Lon: #{@building.longitude}"
%p
  = link_to "Edit", edit_building_path(@building)
  |
  = link_to "Destroy", @building, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", buildings_path
