- title "Listings"

%table
  %tr
    %th Reference
    %th Code word
    %th Status
    %th Pitch
  - for listing in @listings
    %tr
      %td= listing.ref
      %td= listing.code_word
      %td= listing.status
      %td= listing.pitch
      %td= link_to 'Show', listing
      %td= link_to 'Edit', edit_listing_path(listing)
      %td= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Listing", new_listing_path
