- title "Listing"

%p
  = @listing.gist
  <br>
  = @listing.building.address + " " + @listing.unit + " at " + @listing.monthly_rent.to_s

%p
  = link_to "Edit", edit_listing_path(@listing)
  |
  = link_to "Destroy", @listing, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", listings_path
