=# %p#notice= notice

%p
  %b Phone:
  = @call_log.phone_id.number
%p
  %b Start time:
  = @call_log.start_time.getlocal
%p
  %b Duration:
  = @call_log.duration
%p
  %b Comments:
  = @call_log.comments

= link_to 'Edit', edit_call_log_path(@call_log)
\|
= link_to 'Back', call_logs_path
