%h1 Home#index
%p Find me in app/views/home/index.html.haml

.links
  = link_to "People", people_path 
  = link_to "Roles", roles_path
  = link_to "Locations", locations_path
  = link_to "CallLogs", call_logs_path
  = link_to "PhoneIds", phone_ids_path
