- title "Call Logs"

%table
  %tr
    %th Cid
    %th Comments
  - for call_log in @call_logs
    %tr
      %td= call_log.cid
      %td= call_log.comments
      %td= link_to 'Show', call_log
      %td= link_to 'Edit', edit_call_log_path(call_log)
      %td= link_to 'Destroy', call_log, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Call Log", new_call_log_path
