= form_for @did do |f|
  = f.error_messages
  %p
    = f.label :provider
    %br
    = f.text_field :provider
  %p
    = f.label :number
    %br
    = f.text_field :number
  %p
    = f.label :status
    %br
    = f.text_field :status
  %p
    = f.submit
