- title "Selections"

%table
  %tr
    %th Name
    %th Created by
    %th Status
  - for selection in @selections
    %tr
      %td= selection.name
      %td= selection.created_by
      %td= selection.status
      %td= link_to 'Show', selection
      %td= link_to 'Edit', edit_selection_path(selection)
      %td= link_to 'Destroy', selection, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Selection", new_selection_path
